<div class="row shadow p-2 mb-3 bg-white rounded ">
    <div class="col-3 col-sm-3 col-md-3 col-lg-3">
        <img [src]="item.imgPath" alt="{{item.name}}" class="img-fluid rounded  " />
    </div>
    <div class="col-9 col-sm-9 col-md-9 col-lg-9 ">
        <div class="container">
            <div>
                <span class="badge badge-danger">{{item.id}}</span>
                <h5>{{item.name}}</h5>
                <h5>&#8377;{{item.price}}</h5>
            </div>
            <div class="float-right">
                <button *ngIf="item.canBuy" class="btn btn-sm btn-success" (click)="handleBuy($event)">Buy</button>
            </div>
            <input type="number" readonly [value]="cartQty" >
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a (click)="changeTab($event,1)" class="nav-link" [class.active]="isTabSelected(1)"
                        href="/">Description</a>
                </li>
                <li class="nav-item">
                    <a (click)="changeTab($event,2)" [ngClass]="{'nav-link':true,active:isTabSelected(2)}"
                        href="/">Ingredients</a>
                </li>
                <li class="nav-item">
                    <a (click)="changeTab($event,3)" [ngClass]="{'nav-link':true,active:isTabSelected(3)}"
                        href="/">Reviews</a>
                </li>
            </ul>
            <div *ngIf="isTabSelected(1)">{{item.id}}</div>
            <div *ngIf="isTabSelected(2)">{{item.name}}</div>
            <div *ngIf="isTabSelected(3)">
                <app-review class="list-group-item" *ngFor="let review of item.reviews;" [review]="review">
                </app-review>
            </div>
        </div>
    </div>
</div>


<!-- <span class="badge badge-danger"></span> -->
<!-- <button class="btn-sm btn-dark"><i class="fa fa-plus"></i></button>
            <button class="btn-sm btn-dark"><i class="fa fa-minus"></i></button> -->