<div class="container">
  <hr>
  <h1>
    Welcome to Routing
  </h1>
  <hr>
  <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/first" routerLinkActive="active">firstModule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="second" routerLinkActive="active">secondModule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="third" routerLinkActive="active">thirdModule</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="fourth" routerLinkActive="active">fourthModule</a>
      </li>
    </ul>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
